<app-header></app-header>

<div style="text-align:center;">
  <h4>Welcome to Administration page</h4>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}} User</h4>
    <button type="button" class="btn m-2 close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ng (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
        <label for="fname">First Name</label>
        <div class="input-group  mb-1">
          <input id="fname" class="form-control" ngModel placeholder="First Name" name="firstName" ngbDatepicker #firstName="ngbDatepicker"
            type="text" required>
        </div>
        <label for="lname">Last Name</label>
        <div class="input-group  mb-1">
          <input id="lname" class="form-control" ngModel placeholder="Last Name" name="lastName" ngbDatepicker #lastName="ngbDatepicker"
            type="text" required>
        </div>
        <label for="email">Email</label>
        <div class="input-group  mb-1">
          <input id="email" class="form-control" ngModel placeholder="test@test.com" name="email" ngbDatepicker #email="ngbDatepicker"
            type="email" required>
        </div>
        <label for="pass">Password</label>
        <div class="input-group  mb-1">
          <input id="pass" class="form-control" ngModel placeholder="Password" name="password" ngbDatepicker #password="ngbDatepicker"
            type="password" required>
        </div>
        <label for="username">Username</label>
        <div class="input-group  mb-1">
          <input id="username" class="form-control" ngModel placeholder="Username" name="userName" ngbDatepicker #userName="ngbDatepicker"
            type="text" required>
        </div>
        <label for="address">Address</label>
        <div class="input-group  mb-1">
          <input id="address" class="form-control" ngModel placeholder="address" name="address" ngbDatepicker #address="ngbDatepicker"
            type="address" required>
        </div>
        <label for="phonenumber">Phone Number</label>
        <div class="input-group  mb-1">
          <input id="phonenumber" class="form-control" ngModel placeholder="Phone Number" name="telephoneNumber" ngbDatepicker
            #telephoneNumber="ngbDatepicker" type="phone" required>
        </div>
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group mb-1">
          <input id="dateOfBirth" class="form-control" ngModel placeholder="yyyy-mm-dd" name="birthDate" ngbDatepicker
            #birthDate="ngbDatepicker" type= "date" required>
        </div>

      </div>
      <button type="submit" class="btn btn-success" >{{title}}</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.close(content)">
    Close
    </button>
 </div>
</ng-template>




<!-- <div *ngIf="response" class="col-lg-12 grid-margin stretch-card"> -->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">All Users</h4>

    <table class="table table-striped">
      <thead  class="p-3  mb-2 text-info">
        <tr>
          <th>User</th>
          <th> First Name</th>
          <th> Last Name</th>
          <th> Email</th>
          <th> Username</th>
          <th> Phone Number</th>
          <th> Birth date</th>
          <th> Address</th>
          <th></th>
          <th></th>
          <th><button class="btn  btn-dark " (click)="addUser(content)"><i class="fas fa-user-plus"></i></button></th>
        </tr>
      </thead>
      <tbody *ngFor="let user of usersList;let i=index" class="p-3 mb-2 bg-info text-white">
        <tr >
          <td ><button class="btn btn-dark" [routerLink]="['profile',user.id]"><i class="fas fa-eye"></i></button> </td>
          <td>{{user.firstName}} </td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}} </td>
          <td>{{user.userName}}</td>
          <td>{{user.telephoneNumber}} </td>
          <td>{{user.birthDate}}</td>
          <td>{{user.address}} </td>
          <td>{{user.last_name}}</td>
          <td><button class="btn btn-warning" (click)="updateUser(i)"><i class="fas fa-pen-alt"></i></button></td>
          <td><button class="btn btn-danger" (click)="removeUser(i)"><i class="fas fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>

  </div>

  <!-- </div> -->
</div>